body {
    margin: 0;
    padding: 0;
    font-family: 'Aref Ruqaa Ink', sans-serif;/*se lo puedo poner en html solo para el texto si eso modifica lo*/
}

footer {
    background: #442B2B;
    /*fondo del footer*/
    width: 100%;
    /*ocupe todo el ancho disponible de la pantalla, responsive*/
    position: fixed;
    /*fija el footer en su posición aunque se mueva la pantalla*/
    bottom: 0;
    /*coloca el footer en la parte inferior de la ventana del navegador*/
    display: flex;
    /*flexbox*/
    flex-direction: column;
    /*se alinee en la parte inferior automáticamente*/
}

.footer-caja {
    /*elementos dentro de la flexbox*/
    width: 100%;
    display: flex;/*por defecto los elementos se alienan en la misma linea horizontal*/
    justify-content: space-between;
}

.left-content {
    /*contenido en la parte izquierda de la caja*/
    display: flex;
    align-items: center; /*los elementos se alinean verticalmente en el centro del contenedor left*/
    color: white;
}

.copyright{
    /*posicion del copyright*/
    width: 24px;
    height: 60px;
}

.right-content {
    /*contenido a la derecha. las redes sociales*/
    display: flex;
    align-items: center; /*así no ocupa toda la altura de la flexbox derecha*/
    margin-left: 30px;
    /*AYUDA, si modifico el margin left:0 de arriba se me mueve toda la flexbox, pero si no lo modifico no se me mieve la imagen de redes*/
}

.redes-image {
    /*el simbolo de las redes*/
    width: 70px;
    height: 70px;

}

.footer-text {
    font-size: 30px; /*tamaño aproximado*/
    margin-left: 15px;
}